*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-dark: #292c35;
    --clr-light: #e3e3e3;
    /* Light Mode Colors */
    --clr-fg: var(--clr-dark);
    --clr-bg: var(--clr-light);
    /* Border Radii */
    --br-base: 10px;
    --br-small: calc(var(--br-base) / 4);
    --br-mid: calc(var(--br-base) / 2);
    --br: var(--br-base);
    --br-large: calc(var(--br-base) * 1.5);
    --br-pill: 99vw;
    --main-transition: background-color 250ms ease-out, color 250ms ease-out;
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Dark Mode Colors */
        --clr-fg: var(--clr-light);
        --clr-bg: var(--clr-dark);
    }
}

.light {
    /* Programmed light mode colors */
    --clr-fg-lightmode: var(--clr-dark);
    --clr-bg-lightmode: var(--clr-light);
    /* --moon-lightmode: -25%; */
}

.dark {
    --clr-fg-darkmode: var(--clr-light);
    --clr-bg-darkmode: var(--clr-dark);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var( --clr-bg-lightmode, var(--clr-bg-darkmode, var(--clr-bg)));
    color: var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
    transition: var(--main-transition);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin-inline: auto;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: var(--br);
}

#heading {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-block-end: 2rem;
    width: 100%;
}

#book-form {
    display: grid;
    gap: 1rem;
}

#book-form>div {
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 1fr;
    width: 100%;
}

#book-form>div label {
    opacity: 0.7;
}

#book-form>div input[type='text'] {
    padding: 1rem;
    font-size: x-large;
    background-color: #8884;
    color: var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
    border: 1px solid var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
    border-radius: var(--br);
}

#submit-btn,
#clear-btn {
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 2rem;
    width: fit-content;
    justify-self: right;
    letter-spacing: 1px;
    border: 1px solid var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
    border-radius: var(--br-mid);
    background-color: #8884;
    color: var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
}

#submit-btn:hover,
#submit-btn:active,
#clear-btn:hover,
#clear-btn:active {
    border: 1px solid cyan;
    background-color: #8888;
}

#submit-btn:active,
#clear-btn:active {
    transform: translatey(1px);
}

.label {
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #aaa 48%, #111 52%, #444 52%);
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0.35em;
    position: relative;
    border: 0.1em solid #888;
    border-radius: var(--br-pill);
    box-shadow: -2px -2px 2px #fff8, 2px 2px 2px #0004;
    display: flex;
    height: 1.8em;
    width: 3.5em;
    cursor: pointer;
}

.switch {
    background-color: #888;
    position: absolute;
    top: 0.1em;
    left: 0.125em;
    border-radius: var(--br-pill);
    box-shadow: -2px -2px 2px #fff8, 2px 2px 2px #0004;
    width: 1.4em;
    height: 1.4em;
    transition: transform 250ms ease-in;
}

.switch::before,
.switch::after {
    content: '';
    position: absolute;
    inset: 0.25em;
    background: var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
    transition: transform 1s cubic-bezier(0.17, 0.67, 0.53, 1.5), background-color 0.5s ease-out;
}

.switch::after {
    transform: rotate(45deg);
}

.moon {
    position: absolute;
    inset: 0.33em;
    border-radius: var(--br-pill);
    background-color: var( --clr-bg-lightmode, var(--clr-bg-darkmode, var(--clr-bg)));
    z-index: 2;
    overflow: hidden;
}

.moon::after {
    content: '';
    position: absolute;
    inset: 0.075em;
    background: var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
    border-radius: var(--br-pill);
    transform: translateX(-25%);
    transition: transform 1s cubic-bezier(0.17, 0.67, 0.53, 1.5), background-color 0.5s ease-out;
}

.checkbox:checked+.label .switch {
    transform: translateX(1.7em);
}

.checkbox:checked+.label .switch::before {
    transform: rotate(0.5turn);
}

.checkbox:checked+.label .switch::after {
    transform: rotate(225deg);
}

.checkbox:checked+.label .moon::after {
    transform: translateX(0);
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    text-align: left;
    margin-block: 1rem;
}

th {
    border: 1px solid #8888;
    background-color: #8884;
}

td {
    border: 1px solid #4448;
}

tr:nth-child(odd) {
    background-color: #8882;
}

th,
td {
    padding: 0.5rem 1rem;
}

.delete {
    cursor: pointer;
    background-color: #8888;
    width: 2rem;
    height: 2rem;
    border-radius: var(--br-pill);
    transition: var(--main-transition);
}

.delete:hover,
.delete:focus {
    background-color: #f888;
}

input[type='checkbox'] {
    display: none;
}

.success,
.error {
    color: var(--clr-fg-lightmode, var(--clr-fg-darkmode, var(--clr-fg)));
    padding: 0.3em 1em;
    margin: 5px 0 15px 0;
    animation: fade-to-bg 3s forwards, fade 1s forwards 2s;
    transform-origin: top;
    border-radius: var(--br-pill);
}

.success {
    background-color: #0f06;
}

.error {
    background-color: #f006;
}

.button {
    float: right;
}

@keyframes fade-to-bg {
    to {
        background-color: var( --clr-bg-lightmode, var(--clr-bg-darkmode, var(--clr-bg)));
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}